.btn__link {
    text-decoration: none;
    color: inherit;
    width: 25%;
    height: 2rem;
    background: white;
}

.productlist__div {
    display: flex;
}

.btn__list {
    width: 100%;
    height: 2rem;
    background: white;
}

.btn__list__mod {
    background: green;
    width: 25%;
    height: 2rem;
    background: white;
}