.productlist__div {
    display: flex;
}

.btn__list {
    width: 25%;
    height: 2rem;
    background: white;
}

.btn__list__mod {
    background: green;
    width: 25%;
    height: 2rem;
    background: white;
}