.greeting {
    position: relative;
    background: rgb(25, 38, 105);
    background: radial-gradient(circle, rgba(25, 38, 105, 1) 9%, rgba(34, 5, 5, 1) 61%);
}

.greeting__title {
    font-family: "'Black Ops One', cursive";
    font-size: 8rem;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 5px rgb(71 67 67);
}

.title__subtitle {
    position: absolute;
    color: #6bf5df;
    top: 74%;
    font-size: 4rem;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-shadow: 5px 2px 4px rgba(0, 0, 0, 6.5);
}